<div id="page">
    <header id="test">
        <af-header (onRegister)="onLoginOrRegister($event)" 
                   (onLogin)="onLoginOrRegister($event)">
        </af-header>
    </header>
    <main>

        <div [ngSwitch]="title">
                <app-register-form *ngSwitchCase="'register'"></app-register-form>
                <app-login-form *ngSwitchCase="'login'"></app-login-form>
                <af-home *ngSwitchDefault></af-home>
        </div>
       
    </main>
    <footer>
        <af-footer></af-footer>
    </footer>
</div>